.monospace {
    font-variant-numeric: tabular-nums;
}
.timer {
    font-size: 18vw;
    text-align: center;
    line-height: 17vw;
}
.controls {
    padding-left: 0;
    margin-left: -15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.controls .btn {
    font-size: 3.5vw;
    width: 4.5em;
    margin-top: 2vw;
}
.plan {
    font-size: 3vw;
}
.plan .header {
    font-style: italic;
    color: darkgrey;
}
.plan .apnea.selected {
    background-color: lightgrey;
}
.plan .digit.selected {
    background-color: darkgrey;
}
.plan .apnea.running {
    border-style: solid;
    border-width: medium;
    border-color: #28a745;
}
.plan .time.running {
    background-color: #28a745;
}
.plan .apnea-controls {
    display: flex;
    align-items: center;
}
.plan .apnea-controls .btn {
    width: 2.2em;
    font-size: 70%;
}
.plan .keyboard {
    margin-top: 0.3em;
}
.plan .keyboard .btn-digit {
    text-align: center;
    width: 10%;
    max-width: 10%;
    flex: 0 0 10%;
    height: 8vw;
    padding-top: 1.6vw;
}
