.monospace {
    font-variant-numeric: tabular-nums;
}
.timer {
    font-size: 20vw;
    text-align: center;
    line-height: 17vw;
}
.controls {
    padding-left: 0;
    margin-left: -15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.controls .btn {
    font-size: 3.5vw;
    width: 4.5em;
    margin-top: 2vw;
}
.plan {
    font-size: 5vh;
    line-height: 7vh;
}
.plan .header {
    font-style: italic;
    color: darkgrey;
    font-size: 3vh;
}
.plan .apnea.selected {
    background-color: lightgrey;
}
.plan .digit.selected {
    background-color: darkgrey;
}
.plan .apnea.running {
    border-style: solid;
    border-width: medium;
    border-color: #28a745;
}
.plan .time.running {
    background-color: #28a745;
}
.plan .apnea-controls {
    display: flex;
    align-items: center;
}
.plan .apnea-controls .btn {
    width: 2.2em;
    font-size: 70%;
}
@media screen and (orientation:portrait) {
    .keyboard {
        font-size: 8vw;
        place-content: center;
    }
    .keyboard .btn-digit {
        width: 16%;
        height: 16vw;
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media screen and (orientation:landscape) {
    .keyboard {
        font-size: 3vw;
    }
    .keyboard .btn-digit {
        width: 8%;
        height: 8vw;
        margin-left: 1%;
        margin-right: 1%;
    }
}
.keyboard {
    margin-top: 0.3em;
}
.keyboard .btn-digit {
    text-align: center;
    padding-top: 1.6vw;
}
