.monospace {
    font-variant-numeric: tabular-nums;
}
.timer {
    font-size: 20vw;
    text-align: center;
}
.controls .btn {
    font-size: 5vw;
    width: 5em;
    /*border-color: black;*/
}
.plan {
    margin-top: 2em;
    font-size: 3vw;
}
.plan .header {
    font-style: italic;
    color: darkgrey;
}
.plan .apnea.selected {
    background-color: lightgrey;
}
.plan .digit.selected {
    background-color: darkgrey;
}
.plan .apnea.running {
    border-style: solid;
    border-width: medium;
    border-color: #28a745;
}
.plan .time.running {
    background-color: #28a745;
}
.plan .apnea-controls {
    display: flex;
    align-items: center;
}
.plan .keyboard .btn-digit {
    text-align: center;
    width: 10%;
    max-width: 10%;
    flex: 0 0 10%;
    height: 8vw;
    padding-top: 1.6vw;
}
